<!DOCTYPE HTML>
<html>
<head>
    <title>HTML5 Tester</title>
    <meta content="Sebastian Nowak" name="author"/>
    <meta content="Website demonstrating HTML5 elements" name="description"/>
    <meta charset="UTF-8"/>
    <link href="../static/resources/images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="../static/resources/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="../static/resources/js/bootstrap.js"></script>
    <noscript>
        <meta content="5; url=http://www.google.pl" http-equiv="refresh"/>
    </noscript>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">HTML5 Elements<i class="fa-solid fa-house"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="index.html">Start page</a></li>
            <li class="nav-item"><a class="nav-link" href="textelements.html">Text elements</a></li>
            <li class="nav-item"><a class="nav-link" href="grouping.html">Grouping elements</a></li>
            <li class="nav-item"><a class="nav-link" href="sections.html">Sections</a></li>
            <li class="nav-item"><a class="nav-link" href="tables.html">Tables</a></li>
            <li class="nav-item"><a class="nav-link" href="form.html">Forms</a></li>
            <li class="nav-item"><a class="nav-link" href="input.html">Input element</a></li>
            <li class="nav-item"><a class="nav-link" href="form2.html">Other form elements</a></li>
            <li class="nav-item active"><a class="nav-link" href="resources.html">Embedding resources</a></li>
        </ul>
    </div>
</nav>

<section class="container-fluid p-2">
    <progress id="myprogress" max="100" value="10"></progress>
    <p>
        <button type="button" value="30">30%</button>
        <button type="button" value="60">60%</button>
        <button type="button" value="90">90%</button>
    </p>

    <script type="text/javascript">
        var buttons = document.getElementsByTagName('BUTTON');
        var progress = document.getElementById("myprogress");
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].onclick = function (e) {
                progress.value = e.target.value;
            };
        }
    </script>

    <br/>
    <p>Embedded element: </p>
    <embed allowfullscreen
           frameborder="0" height="510"
           src="https://www.youtube.com/embed/ah3S2-kK_VU?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0"
           width="854"/>
    <br/>
    <p>Object element: </p>
    <object data="https://www.youtube.com/embed/ah3S2-kK_VU?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0"
            height="510"
            width="854">
    </object>
    <br/>
    <p>Iframe examples</p>
    <a href="index.html" target="myframe">Start page</a>
    <br/>
    <iframe name="myframe" sandbox="allow-scripts" style="width: 100%; height: 300px;">
    </iframe>
    <br/><br/>
    <img alt="java logo" src="../static/resources/images/javalogo.png"/>
</section>
</body>
</html>