<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Sebastian Nowak"/>

    <link rel="stylesheet" href="/resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/resources/css/application.css"/>
    <script src="/resources/js/bootstrap.js"></script>

    <title>List of books</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Library app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/books/">Books <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/authors">Authors</a>
            </li>
        </ul>
    </div>
</nav>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Publication date</th>
        <th>Publisher</th>
    </tr>
    <tr class="table-data-row" th:each="book : ${books}" th:onclick="'javascript:redirectToBook(' + ${book.id} + ')'">
        <td th:text="${book.id}">book.id</td>
        <td th:text="${book.title}">book.title</td>
        <td th:text="${book.isbn}">book.isbn</td>
        <td th:text="${book.publicationDate}">book.publicationDate</td>
        <td th:text="${book.publisherName}">book.publisher</td>
    </tr>
</table>
</body>
</html>
<script>
    function redirectToBook(bookId) {
        window.location = "/books/" + bookId
    }
</script>